<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Select Control">
  <title>Select</title>
</head>
<style>
  body {
    display: block;
    width: 100%;
  }
</style>

<body>
  <div class="v-input-wrapper" :class="wrapperClass">
    <select class="v-input__inner" :value="value" :disabled="disabled" :required="required" :name="name"
      @change="handleChange" @blur="handleBlur" style="cursor: pointer;">
      <option v-if="placeholder" value="" disabled selected hidden>{{ placeholder }}</option>
      <option :key="idx" v-for="(opt, idx) in opts?.options" :value="opt.value !== undefined ? opt.value : opt"
        :selected="(opt.value !== undefined ? opt.value : opt) == value">
        {{ opt.label !== undefined ? opt.label : opt }}
      </option>
    </select>
  </div>
  <div v-if="errorMsg" class="v-error-msg">{{ errorMsg }}</div>
</body>
<script setup>
  value = "";
  placeholder = "";
  disabled = false;
  required = false;
  validate = null;
  opts = {};
  name = "";
  errorMsg = "";

  wrapperClass = () => {
    let cls = [];
    if (disabled) cls.push("is-disabled");
    if (errorMsg) cls.push("is-error");
    return cls.join(" ");
  }

  runCheck = (target) => {
    const r = $mod.checkValue({ val: value, required, type: 'select', validate, opts, nativeTarget: target, $t });
    errorMsg = r.msg;
    return r;
  }

  validateField = () => runCheck($node.querySelector('select'));

  handleChange = (e) => {
    value = e.target.value;
    runCheck(e.target);
    $emit('update', value);
  }

  handleBlur = (e) => runCheck(e.target);
</script>

</html>
