<!DOCTYPE html>
<html>
<style>
  /* No visual styles, just structure */
  vslot {
    display: contents;
  }

  .v-tree {
    user-select: none;
    cursor: pointer;
  }
</style>

<body class="v-tree">
  <div v-for="row in items" class="v-tree-node">
    <vslot vbind="row, depth">
      <div :style="{paddingLeft: (depth * 20) + 'px'}">
        {{ row.name }}
      </div>
    </vslot>
    <div vsrc='/tree' vslot-inherit v-if='row.items && row.expand' :items="row.items" :depth="depth + 1"></div>
  </div>
</body>
<script setup>
  items = []
  depth = 0
</script>

</html>
